.product{
    border-bottom: 1px solid lightgray;
    display: flex;
    margin-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;

}
.productName{
    color: blue;
    font-weight: 400;
}
.mainbutton{
    background-color: rgb(255, 208, 0);
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}
